/* Prograd Profile Project */

* {
    margin: 0;
}

/* header section start */

.prograd-name {
    font-size: 12px;
    color: rgb(240, 108, 21);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 40px;
}

.navigation-list ul {
    list-style-type: none;
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.navigation-list ul li a {
    text-decoration: none;
    color: black;
}

progress[value] {
    width: 250px;
    height: 20px;
}

progress[value]::-webkit-progress-value {
    background-color: rgb(231, 120, 16);
}

/* header section end */

/* about section start */

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: black;
    color: white;
}

.work-motive {
    font-size: 32px;
    font-weight: bold;
}

.profile-img img {
    border-radius: 50%;
}

.button {
    margin-top: 10px;
}

.button a {
    background-color: rgb(245, 150, 72);
    padding: 8px 9px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}

.profile-main {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    width: 1180px;
    align-items: center;
    margin-left: 170px;
    margin-bottom: 10px;
}

.about {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}

/* about section end */

/* portfolio section start */

.third-section {
    background-color: black;
    height: 350px;
    color: white;
    margin-top: 70px;
}

.portfolio {
    text-align: center;
    padding-top: 50px;
}

.portfolio p {
    margin-top: 10px;
}

.border {
    border: 1px white solid;
    width: 300px;
    margin: 10px auto 0;
}

.projects {
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    color: black;
    align-items: center;
    justify-content: space-evenly;
}

.projects p {
    font-size: 14px;
    text-align: center;
}

.projects-main {
    display: flex;
    align-items: center;
    width: 980px;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 220px;
}

/* portfolio section end */

/* Skill section start */

.skill {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 900px;
    margin-left: 260px;
}

.title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.skills ul li {
    list-style-type: none;
    font-size: 14px;
    color: rgb(109, 109, 109);
}

.skills-title {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 18px;
}

.skills-main {
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 400px;
    align-items: center;
    justify-content: space-around;
}

.skills-language {
    display: flex;
    flex-direction: column;
    height: 160px;
    width: 400px;
    align-items: center;
    justify-content: space-around;
}

/* skill section end */

/* contact section start */

.contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    justify-content: space-evenly;
    padding-top: 10px;
}

.contact-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding-top: 30px;
}

.input input {
    height: 20px;
    width: 250px;
    margin-top: 20px;
}

/* contact section end */